<template>
    <div @click.self="emit('close')" class="fixed top-0 left-0 w-full h-screen bg-black bg-opacity-60 flex justify-center align-center">
        <div class="my-auto bg-dark-500 p-6 rounded text-primary-500 w-full max-w-2xl mx-3">
            <h1 class="font-bold text-4xl text-center mb-10">{{ props.categoryTitle ? 'Edit Category' : 'New Category'}}</h1>
            <div class="grid grid-cols-3 gap-y-3 font-bold">
                <span class="ml-2">Title: </span>
                <input type="text" v-model="title" @keypress.enter="save" class="bg-dark-200 col-span-2 rounded px-2 font-bold py-1 focus:outline-none text-primary-200">
            </div>
            <div class="text-right mt-5 flex justify-end">
                <button v-if="props.categoryTitle" @click="deleteCategory" class="bg-dark-300 w-fit px-4 py-1 font-bold rounded hover:bg-dark-200 mr-auto">Delete</button>
                <button @click="emit('close')" class="bg-dark-300 w-fit px-4 py-1 font-bold rounded hover:bg-dark-200">Cancel</button>
                <button @click="save" class="ml-3 bg-dark-300 w-fit px-4 py-1 font-bold rounded hover:bg-dark-200">Save</button>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'

const emit = defineEmits(['close', 'reload'])

const props = defineProps({
	categoryTitle: String,
})

onMounted(async () => {
    if (props.categoryTitle) {
        category.value = await JSON.parse(window.localStorage.getItem('categories')).find(res => res === props.categoryTitle)
        title.value = category.value
    }
})

const title = ref('')
const category = ref(null)

const save = async () => {
    if (!title.value) return alert('Title cannot be empty')

    let categoriesStorage = JSON.parse(window.localStorage.getItem('categories'))
    if (categoriesStorage.find(category => category === title.value)) return alert('That category already exists')

    if (!categoriesStorage) categoriesStorage = []

    let categories = categoriesStorage
    if (props.categoryTitle) categories = categoriesStorage.filter(item => item !== props.categoryTitle)

    await categories.push(title.value)
    window.localStorage.setItem('categories', JSON.stringify(categories))

    let shortcuts = await JSON.parse(window.localStorage.getItem('shortcuts'))

    if (props.categoryTitle) {
        await shortcuts.forEach(item => {
            item.category = title.value
        })
    }
    

    window.localStorage.setItem('shortcuts', JSON.stringify(shortcuts))

    emit('reload')
    emit('close')
}

const deleteCategory = async () => {
    let categoriesStorage = await JSON.parse(window.localStorage.getItem('categories'))

    let categories = []
    if (props.categoryTitle) categories = categoriesStorage.filter(item => item !== props.categoryTitle)
    else categories = categoriesStorage

    window.localStorage.setItem('categories', JSON.stringify(categories))


    let shortcutsStorage = await JSON.parse(window.localStorage.getItem('shortcuts'))
    let shortcuts = shortcutsStorage.filter(item => item.category !== props.categoryTitle)

    window.localStorage.setItem('shortcuts', JSON.stringify(shortcuts))

    emit('reload')
    emit('close')
}
</script>