<template>
    <Category v-if="showCategory" @reload="reload" :categoryTitle="categoryTitle" @close="showCategory = !showCategory" />
    <Shortcut v-if="showShortcut" @reload="reload" :shortcutTitle="shortcutTitle" :category="categoryTitle" @close="showShortcut = !showShortcut" />
    <div class="flex flex-row flex-wrap justify-center gap-10">
        <div v-for="category in categories">
            <div class="w-80">
                <h3 @click="showCategory = !showCategory, categoryTitle = category.title" class="text-primary-500 text-2xl font-bold ml-2 hover:cursor-pointer">{{ category.title }}</h3>
                <div class="bg-dark-200 rounded-lg w-full p-2 flex flex-col" @drop="onDrop($event, category)" @dragover.prevent @dragenter.prevent>
                    <div v-for="shortcut in category.shortcuts">
                        <div @click="shortcutTitle = shortcut.title,categoryTitle = category.title , showShortcut = !showShortcut" draggable="true" @dragstart="startDrag($event, shortcut)" @drop="onDrop($event, category, shortcut)" @dragover.prevent @dragenter.prevent class="font-bold text-primary-500 border-b-2 py-2 hover:bg-dark-300 px-2 rounded-b-none rounded border-primary-600 hover:cursor-pointer flex flex-row overflow-clip select-none">
                            <img :src="shortcut.icon" alt="" class="w-12 h-12 my-auto mr-3">
                            <div class="block">
                                <h3 class="text-xl text-primary-200">{{ shortcut.title }}</h3>
                                <p>{{ shortcut.url }}</p>
                            </div>
                        </div>
                    </div>
                    <button @click="showShortcut = !showShortcut, categoryTitle = category.title, shortcutTitle = ''" class="text-primary-200 bg-dark-100 hover:bg-blue-900 text-xl font-bold rounded text-center w-full py-2">
                        Add new shortcut
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-8">
        <button @click="showCategory = !showCategory, categoryTitle = ''" class="bg-dark-200 w-fit px-16 py-1 font-bold text-xl rounded hover:bg-dark-100 text-primary-300 mr-6 mb-3">Add new category</button>
        <button @click="emit('stopEditing')" class="bg-dark-200 w-fit px-16 py-1 font-bold text-xl rounded hover:bg-dark-100 text-primary-300">Exit</button>
    </div>
</template>

<script setup>
import { computed, onMounted, ref } from 'vue';
import Category from './Category.vue';
import Shortcut from './Shortcut.vue';

const showCategory = ref(false)
const showShortcut = ref(false)
const categoryTitle = ref('')
const shortcutTitle = ref('')
const shortcutUrl = ref('')
const categoryNames = ref([])
const shortcuts = ref([])

const emit = defineEmits(['stopEditing'])

const categories = computed(() => {
    let categoriesTemp = []
    categoryNames.value.forEach(category => {
        categoriesTemp.push({title: category, shortcuts: shortcuts.value.filter(shortcut => shortcut.category === category)})
    })
    return categoriesTemp
})

const reload = () => {
    shortcuts.value = JSON.parse(window.localStorage.getItem('shortcuts'))
    categoryNames.value = JSON.parse(window.localStorage.getItem('categories'))
}

const open = () => {
    window.open(shortcutUrl.value, '_blank')
}

const startDrag = (evt, item) => {
    evt.dataTransfer.dropEffect = 'move'
    evt.dataTransfer.effectAllowed = 'move'
    evt.dataTransfer.setData('itemID', item.title)
}

const onDrop = async (evt, category, shortcut) => {
    const itemID = evt.dataTransfer.getData('itemID')
    const item = await shortcuts.value.find(item => item.title == itemID)
    item.category = category.title

    if (shortcut) {
        const indexShortcut = shortcuts.value.findIndex(element => element.title === shortcut.title)
        const indexItem = shortcuts.value.findIndex(element => element.title === item.title)

        let tmp = shortcuts.value[indexShortcut]
        shortcuts.value[indexShortcut] = shortcuts.value[indexItem]
        shortcuts.value[indexItem] = tmp
    }

    window.localStorage.setItem('shortcuts', JSON.stringify(shortcuts.value))
}

onMounted(() => {
    shortcuts.value = JSON.parse(window.localStorage.getItem('shortcuts'))
    categoryNames.value = JSON.parse(window.localStorage.getItem('categories'))
})

</script>