<template>
    <div class="text-center">
		<input type="search" :placeholder="`Search the web with ${props.searchUrl}`" v-model="searchText" @keypress.enter="search" class="w-full max-w-xl rounded px-4 py-2 bg-primary-600 text-primary-100 font-bold placeholder:text-dark-400 focus:outline-none shadow-lg shadow-primary-600">
	</div>
</template>

<script setup>
import { ref } from 'vue'

const searchText = ref('')

const props = defineProps({
	searchUrl: String
})

const search = () => {
	window.open(`https://${props.searchUrl}/search?q=${searchText.value}`, '_blank')
	searchText.value = ''
}
</script>