<template>
    <div @click.self="emit('close')" class="fixed top-0 left-0 w-full h-screen bg-black bg-opacity-60 flex justify-center align-center">
        <div class="my-auto bg-dark-500 p-6 rounded text-primary-500 w-full max-w-2xl mx-3">
            <h1 class="font-bold text-4xl text-center mb-10">Settings</h1>
            <div class="grid grid-cols-3 gap-y-3 font-bold">
                <span class="ml-2">Message: </span>
                <input type="text" v-model="message" @keypress.enter="save" class="bg-dark-200 col-span-2 rounded px-2 font-bold py-1 focus:outline-none text-primary-200">
                
                <span class="ml-2">Title: </span>
                <input type="text" v-model="title" @keypress.enter="save" class="bg-dark-200 col-span-2 rounded px-2 font-bold py-1 focus:outline-none text-primary-200">

                <span class="ml-2">Search Engine: </span>
                <input type="text" v-model="searchUrl" @keypress.enter="save" placeholder="example: search.brave.com" class="bg-dark-200 col-span-2 rounded px-2 font-bold py-1 focus:outline-none text-primary-200 placeholder:text-primary-700">
                
                <button @click="emit('edit'), emit('close')" class="bg-dark-300 hover:bg-dark-200 w-fit px-4 py-1 font-bold rounded col-span-3">Modify Layout</button>
            </div>
            <div class="text-right">
                <button @click="emit('close')" class="bg-dark-300 w-fit px-4 py-1 font-bold rounded hover:bg-dark-200">Cancel</button>
                <button @click="save" class="ml-3 bg-dark-300 w-fit px-4 py-1 font-bold rounded hover:bg-dark-200">Save</button>
            </div>
        </div>
    </div>
</template>

<script setup>
import { onMounted, ref } from 'vue';

const message = ref('')
const title = ref('')
const searchUrl = ref('')

const emit = defineEmits(['close', 'edit'])

onMounted(() => {
    message.value = window.localStorage.getItem('message')
    title.value = window.localStorage.getItem('title')
    searchUrl.value = window.localStorage.getItem('searchUrl')
})

const save = () => {
    if (!searchUrl.value) searchUrl.value = 'search.brave.com'

    window.localStorage.setItem('message', message.value)
    window.localStorage.setItem('title', title.value)
    window.localStorage.setItem('searchUrl', searchUrl.value)
    emit('close')
}

</script>