<template>
    <div @click.self="emit('close')" class="fixed top-0 left-0 w-full h-screen bg-black bg-opacity-60 flex justify-center align-center">
        <div class="my-auto bg-dark-500 p-6 rounded text-primary-500 w-full max-w-2xl mx-3">
            <h1 class="font-bold text-4xl text-center mb-2">{{ props.shortcutTitle ? 'Edit Shortcut' : 'New Shortcut'}}</h1>
            <p class="mb-6">Creating new shortcut for <u class="font-bold">{{ props.category }}</u></p>
            <div class="grid grid-cols-3 gap-y-3 font-bold">
                <span class="ml-2">App:</span>
                <select name="apps" id="apps" v-model="selectValue" class="bg-dark-200 col-span-2 rounded px-2 font-bold py-1 focus:outline-none text-primary-200">
                    <option value="none" class="text-primary-400">Custom</option>
                    <option v-for="app in apps.apps" :value="app.appid">
                        {{ app.name }}
                    </option>
                </select>
                
                <span class="ml-2">Title: </span>
                <input type="text" v-model="title" @keypress.enter="save" class="bg-dark-200 col-span-2 rounded px-2 font-bold py-1 focus:outline-none text-primary-200">

                <span class="ml-2">Url: </span>
                <input type="text" v-model="url" @keypress.enter="save" placeholder="example: https://xeovalyte.com/" class="bg-dark-200 col-span-2 rounded px-2 font-bold py-1 focus:outline-none text-primary-200 placeholder:text-primary-700">
            </div>
            <div class="text-right mt-5 flex justify-end">
                <button v-if="props.shortcutTitle" @click="deleteShortcut" class="bg-dark-300 w-fit px-4 py-1 font-bold rounded hover:bg-dark-200 mr-auto">Delete</button>
                <button @click="emit('close')" class="bg-dark-300 w-fit px-4 py-1 font-bold rounded hover:bg-dark-200">Cancel</button>
                <button @click="save" class="ml-3 bg-dark-300 w-fit px-4 py-1 font-bold rounded hover:bg-dark-200">Save</button>
            </div>
        </div>
    </div>
</template>

<script setup>
import { onMounted, ref, watch, watchEffect } from 'vue'
import apps from '../assets/list.json'

const title = ref('')
const url = ref('')
const icon = ref('')
const selectValue = ref('')
const appid = ref('')
const shortcut = ref(null)

const emit = defineEmits(['close', 'reload'])
const props = defineProps({
	category: String,
    shortcutTitle: String,
})

onMounted(async () => {
    if (props.shortcutTitle) {
        shortcut.value = await JSON.parse(window.localStorage.getItem('shortcuts')).find(res => res.title === props.shortcutTitle)
        title.value = shortcut.value.title
        url.value = shortcut.value.url
        icon.value = shortcut.value.icon
        appid.value = shortcut.value.appid

        selectValue.value = appid.value
    }
})

watchEffect(() => {
    let foundApp = apps.apps.find(item => item.appid === selectValue.value)

    if (selectValue.value === 'none') icon.value = '', appid.value = ''
    if (foundApp && selectValue.value !== 'none') {
        title.value = foundApp.name
        appid.value = foundApp.appid
        icon.value = `/apps/icons/${foundApp.icon}`
    }
})

const save = async () => {
    if (!url.value || !title.value) return alert('Please fill in all fields')

    let shortcutsStorage = await JSON.parse(window.localStorage.getItem('shortcuts'))

    const shortcutTitle = await shortcutsStorage.find(shortcut => shortcut.title === title.value)
    if (shortcutTitle && !props.shortcutTitle) return alert('That name already exists')

    let shortcuts = []
    if (props.shortcutTitle) shortcuts = shortcutsStorage.filter(item => item.title !== props.shortcutTitle)
    else shortcuts = shortcutsStorage

    if (!icon.value) icon.value = `https://t3.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=${url.value}&size=64`

    await shortcuts.push({ title: title.value, category: props.category, url: url.value, icon: icon.value, appid: appid.value })

    window.localStorage.setItem('shortcuts', JSON.stringify(shortcuts))

    emit('reload')
    emit('close')
}

const deleteShortcut = async () => {
    let shortcutsStorage = await JSON.parse(window.localStorage.getItem('shortcuts'))

    let shortcuts = []
    if (props.shortcutTitle) shortcuts = shortcutsStorage.filter(item => item.title !== props.shortcutTitle)
    else shortcuts = shortcutsStorage

    window.localStorage.setItem('shortcuts', JSON.stringify(shortcuts))

    emit('reload')
    emit('close')
}
</script>