<template>
    <div class="flex flex-row flex-wrap justify-center gap-10">
        <div v-for="category in categories">
            <div v-if="category.shortcuts[0]" class="w-80">
                <h3 class="text-primary-500 text-2xl font-bold ml-2">{{ category.title }}</h3>
                <div class="bg-dark-200 rounded-lg w-full p-2 flex flex-col">
                    <div v-for="shortcut in category.shortcuts">
                        <div @click="redirect(shortcut.url)" class="font-bold text-primary-500 border-b-2 py-2 hover:bg-dark-300 px-2 rounded-b-none rounded border-primary-600 hover:cursor-pointer flex flex-row overflow-clip select-none">
                            <img :src="shortcut.icon" alt="" class="w-12 h-12 my-auto mr-3">
                            <div class="block">
                                <h3 class="text-xl text-primary-200">{{ shortcut.title }}</h3>
                                <p>{{ shortcut.url }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="!categories[0]">
            <h3 class="text-primary-500 text-2xl font-bold">There is nothing here... Press ESC to open settings!</h3>
        </div>
    </div>
</template>

<script setup>
import { ref, computed, onMounted } from 'vue'

const shortcuts = ref([])
const categoryNames = ref([])

const categories = computed(() => {
    let categoriesTemp = []
    categoryNames.value.forEach(category => {
        categoriesTemp.push({title: category, shortcuts: shortcuts.value.filter(shortcut => shortcut.category === category)})
    })
    return categoriesTemp
})

onMounted(() => {
    shortcuts.value = JSON.parse(window.localStorage.getItem('shortcuts'))
    categoryNames.value = JSON.parse(window.localStorage.getItem('categories'))
})

const redirect = (url) => {
    window.open(url, '_blank')
}
</script>