<template>
	<Settings v-if="showSettings" @close="closeSettings" @edit="editing = !editing" class="" />
	<div @dblclick.self="showSettings = !showSettings" class="w-full min-h-screen bg-dark-800 px-5">
		<h1 class="text-primary-500 font-bold text-5xl mb-6 shadow text-center pt-20">{{ message }}</h1>
		<Search :searchUrl="searchUrl" class="mb-14" />
		<Shortcuts v-if="!editing" />
		<EditLayout v-else @stop-editing="editing = !editing" />
	</div>
</template>

<script setup>
import { onMounted, ref, computed } from 'vue'
import { useHead } from '@vueuse/head'

import Search from './components/Search.vue'
import Settings from './components/Settings.vue'
import Shortcuts from './components/Shortcuts.vue'
import EditLayout from './components/EditLayout.vue'

const showSettings = ref(false)
const message = ref('')
const title = ref('Dashboard')
const searchUrl = ref('search.brave.com')
const editing = ref(false)

if ('serviceWorker' in navigator) {
	navigator.serviceWorker.register('/service-worker.js')
}

useHead({
    title: computed(() => title.value),
})

const closeSettings = () => {
	showSettings.value = !showSettings.value
	message.value = window.localStorage.getItem('message')
	title.value = window.localStorage.getItem('title')
	searchUrl.value = window.localStorage.getItem('searchUrl')
}

document.onkeyup = (e) => {
	if (e.code === 'Escape') {
		if (!editing.value) showSettings.value = !showSettings.value
		else editing.value = false
	}
}

onMounted(() => {
	if (!window.localStorage.getItem('message')) {
		window.localStorage.setItem('message', 'Xeovalyte')
		message.value = 'Xeovalyte'
	} else {
		message.value = window.localStorage.getItem('message')
	}

	if (!window.localStorage.getItem('title')) {
		window.localStorage.setItem('title', 'Dashboard')
		title.value = 'Dashboard'
	} else {
		title.value = window.localStorage.getItem('title')
	}

	if (!window.localStorage.getItem('searchUrl')) {
		window.localStorage.setItem('searchUrl', 'search.brave.com')
		searchUrl.value = 'Dashboard'
	} else {
		searchUrl.value = window.localStorage.getItem('searchUrl')
	}

	if (!window.localStorage.getItem('shortcuts')) {
		window.localStorage.setItem('shortcuts', JSON.stringify([]))
	}

	if (!window.localStorage.getItem('categories')) {
		window.localStorage.setItem('categories', JSON.stringify([]))
	}
})
</script>